

<div>
   {{course?.courseName}}
  </div>





<div class="details">
  <div class="card" style="width: 40rem;">
    <!-- <img src="..." class="card-img-top" alt="..."> -->
    <div class="card-body">
      <h1 class="card-title">{{course?.courseName}}</h1>
      <p class="card-text"> ----- </p>
      <h3>Students Enrolled</h3>
      <h3>{{course?.courseRating}}</h3>
      <a href="#" class="btn btn-primary">Share</a>
    </div>
  </div>
  <div class="card" style="width: 25rem; border: solid 1px #fff;margin: 10px 0;">
    <iframe width="390" height="600"
      src="https://www.youtube.com/embed/kKvK2foOTJM">
    </iframe> 
    <div class="card-body">
      <!-- <h5 class="card-title">Card title</h5> -->
      <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
      <a href="#" class="btn btn-primary d-md-flex justify-content-md-around" routerLink="/enrolled">Enroll</a>
    </div>
  </div>
</div>

<div class="card" style="width: 50rem; margin-left: 130px;margin-top: 30px; margin-bottom: 30px;">
  <div class="card-body">
    <h1 class="card-title">Description</h1>
    <p class="card-text"> You can now join over 400+ students in this SAP BEx Analyzer Video Academy Course. <br><br>

     <strong> This in-depth SAP BW BEx training course will teach you how to master the BEx Analyzer and Query Designer tools - the key reporting component of the SAP BW & Business Intelligence suite of applications used by thousands of the worlds largest companies to help them analyze their own business data.</strong><br><br>
      
      This course is a complete A to Z online learning course for the SAP BEx Analyzer (SAP Business Explorer) and Query Designer. No stone is left un-turned.<br><br>
      
      The SAP Business Explorer (BEx) offers a high focus on user productivity, with formatted reporting, intuitive ad-hoc analysis, advanced Excel integration, and model-driven BI applications.<br><br>
      
      This course will teach you how to fully master this toolset. It is fully up-to-date for SAP NetWeaver BW 7.x and provides end users and functional consultants with a detailed reference on how to use all aspects of BEx reporting, from designing queries to linking reports together. You will gain a deep knowledge of BEx and its many uses.<br><br>
      
      First, learn how to use existing reports already available in your system then create and design flexible query definitions that can be used by a wide variety of users, with a focus on performance and usability. You will delve into the capabilities of BEx Analyzer and enhanced navigation features, such as drag and drop to facilitate end-user interaction, the new design mode to develop reporting applications within MS Excel, and additional integration with Excel formatting and formulas.<br><br>
      
      You'll quickly master advanced techniques such as using cell definitions, creating Exceptions & Conditions in your queries as well Report-Report-Interfacing (RRI), a tool that enables users to link reports and jump from one report to another containing additional information. </p>

  </div>
</div>

