
<nav class="navbar fixed-top navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <img src="assets/images/Udemy-logo.png" alt="" style="width: 70px; height: 50px;border-radius: 40%;">
        <a class="navbar-brand" href="#">kLearning</a>
        
        <div class="collapse navbar-collapse" id="navbarNav" style="padding-left: 30px;">
            <a class="navbar-brand" routerLink="/courses">Courses</a>
        </div>
    </div>
    <div class="user" style="padding-right: 30px;">
        <a class="navbar-brand" routerLink="/signup">Signup</a>
    </div>
    <div class="user" style="padding-right: 30px;">
        <a class="navbar-brand" routerLink="/login">Login</a>
    </div>
</nav>

