
<!-- card for Showing course content -->

  <div class="card" style="width: 70rem; margin: auto;padding: 20px;margin-top: 70px; margin-bottom: 20px;">
    <div style="padding: 5px;">
      <iframe width="1060" height="500"
        src="https://www.youtube.com/embed/Tk40p5V51wg">
        </iframe>
    </div>
     
    <!-- code for off canvassing right to show weekly content -->

    <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight" style="width: 25%;height: 42px;margin: auto;">Course Content</button>

  <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
      <div class="offcanvas-header">
      <h3 class="offcanvas-title" id="offcanvasRightLabel">Weekly Content</h3>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul  *ngFor="let content of weekData">
            <li class="list-group-item active" aria-current="true" [value] = "content.title">
              <div class="card" style="width: 18rem;">
                <!-- <iframe [src]="content.contentURL" width="100px"></iframe> -->
                <div class="card-body">
                  <h2 class="card-title">{{content.title}}</h2>
                  <h4>{{content.contentURL}}</h4>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
            </li> <br>
          </ul>
      </div>
  </div>


    <!-- code for off canvassing right to show weekly content ends -->

      <h1 style="color: black;">Master Angular (formerly "Angular 2") and build awesome, reactive web apps with the successor of Angular.js</h1>
<hr>
      <div class="container text-center" style="color: black; font-size: large;">
        <div class="row">
          <div class="col order-first">
            Rating
          </div>
          <div class="col">
            Students Enrolled
          </div>
          <div class="col order-last">
            Total Hours
          </div>
        </div>
        <div class="row">
          <div class="col order-first">
            4.3
          </div>
          <div class="col">
            15466
          </div>
          <div class="col order-last">
            2.5 hours
          </div>
        </div>
      </div>
<hr>
    <div class="description">
      <h2 style="color: black;">Description</h2>
      <h3 style="color: black;">
        <p class="card-text"> You can now join over 400+ students in this SAP BEx Analyzer Video Academy Course. <br><br>

          <strong> This in-depth SAP BW BEx training course will teach you how to master the BEx Analyzer and Query Designer tools - the key reporting component of the SAP BW & Business Intelligence suite of applications used by thousands of the worlds largest companies to help them analyze their own business data.</strong><br><br>
           
           This course is a complete A to Z online learning course for the SAP BEx Analyzer (SAP Business Explorer) and Query Designer. No stone is left un-turned.<br><br>
           
           The SAP Business Explorer (BEx) offers a high focus on user productivity, with formatted reporting, intuitive ad-hoc analysis, advanced Excel integration, and model-driven BI applications.<br><br>
           
           This course will teach you how to fully master this toolset. It is fully up-to-date for SAP NetWeaver BW 7.x and provides end users and functional consultants with a detailed reference on how to use all aspects of BEx reporting, from designing queries to linking reports together. You will gain a deep knowledge of BEx and its many uses.<br><br>
           
           First, learn how to use existing reports already available in your system then create and design flexible query definitions that can be used by a wide variety of users, with a focus on performance and usability. You will delve into the capabilities of BEx Analyzer and enhanced navigation features, such as drag and drop to facilitate end-user interaction, the new design mode to develop reporting applications within MS Excel, and additional integration with Excel formatting and formulas.<br><br>
           
           You'll quickly master advanced techniques such as using cell definitions, creating Exceptions & Conditions in your queries as well Report-Report-Interfacing (RRI), a tool that enables users to link reports and jump from one report to another containing additional information. </p>
      </h3>


    </div>
    <button type="button" class="btn btn-info" style="width: 30%;margin: auto;">Rate the course</button>

  </div>

  

