<app-search></app-search>


<div class="row">
    <div class="col-4">
      <ul id="list-example" class="list-group" *ngFor="let cat of categories">
        <li class="list-group-item list-group-item-action" [value] = "cat.id" [class.active] = "categorySelected === cat.id" (click)="onSortSelected(cat.id)">{{cat.name}}</li>
      </ul>
    </div>
    <div class="col-8">
      <div data-bs-spy="scroll" data-bs-target="#list-example" data-bs-smooth-scroll="true" class="scrollspy-example" tabindex="0">
        <div *ngFor="let course of sortData">
               <div class="card">
                 {{course.courseName}}
                 {{course.courseRating}}
                 {{course.courseThumbnail}}
                 {{course.courseCategory}}
               </div>
                    <div class="btn btn-primary" [routerLink]="['/courses', course.courseId]">Take me</div>
                </div>
                
        </div>
      </div>
    </div>




