<div mat-dialog-title>
    <h1>Course Details</h1>
</div>
<form [formGroup]="courseForm" (ngSubmit)="onSubmitForm()">
<div mat-dialog-content class="content">
    <div class="row">
        <mat-form-field appearance="outline">
            <mat-label>Course Name</mat-label>
            <input matInput type="text" formControlName="course">
            <mat-hint align="end">More than 4 characters long.</mat-hint>
            <mat-error *ngIf="myError('course', 'required')">Course name is required</mat-error>
            <mat-error *ngIf="myError('course', 'minlength')">More than 4 characters</mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Description</mat-label>
            <input matInput type="text" formControlName="description">
            <mat-hint align="end">More than 5 characters long.</mat-hint>
            <mat-error *ngIf="myError('description', 'required')">Description is required</mat-error>
            <mat-error *ngIf="myError('description', 'minlength')">More than 5 characters</mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Name of Instructor</mat-label>
            <input matInput type="text" formControlName="instructor">
            <mat-hint align="end">More than 4 characters long.</mat-hint>
            <mat-error *ngIf="myError('instructor', 'required')">Instructor name is required</mat-error>
            <mat-error *ngIf="myError('instructor', 'minlength')">More than 4 characters</mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Duration</mat-label>
            <input matInput type="number" placeholder="1" formControlName="duration">
          </mat-form-field>
          
    </div>

    <div class="row">
        <mat-form-field appearance="outline">
            <mat-label>Category</mat-label>
            <mat-select formControlName="genre">
                <mat-option *ngFor = "let val of category" [value]="val">{{val}}

                </mat-option>
            </mat-select>
          </mat-form-field>
          
    </div>
</div>
<div mat-dialog-actions>
    <button mat-raised-button> Cancel</button>
    <button mat-raised-button color="primary" type="submit"> Save</button>
</div>

</form>
